/********************
** Breakpoints
********************/
@mixin breakpoint($size) {
  @if $size == desktop {
    $size : $bp-desktop;
  } @else if $size == tablet {
    $size : $bp-tablet;
  } @else if $size == mobile {
    $size : $bp-mobile;
  } @else {
    $size : $size;
  }

  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin bp-below($size) {
  @if $size != null {
    @media only screen and (max-width: ($size-1)) {
      @content;
    }
  }
}
