/********************
** Calculate Hypotenuse
********************/

// Used by CSS Triangle mixin - Calculate length diagonal side, this should result in three corners of 60deg.
// Pythagorean theorem states a square + b square = c sqare
@function calc-hypotenuse($side) {
  $sq-side1: $side * $side; // First create a sqare and put it in a new variable
  $sq-side2: $side * $side; // Then create b square and put it in a new variable
  $hypotenuse: $sq-side1 + $sq-side2; // Calculate c square and put it in this variable

  @return sqrt($hypotenuse); // Return the sqare root of c square
}
